{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}
    Bug Detail
{% endblock %}
{% block content %}
    <div class="btn-container">
        <a class="btn btn-info" href="{% url 'bugs' %}">Back to bugs</a>
    </div>
    <div class="product-card-container">
        <div class="product-card">
            <div class="description-text">
                <h3>{{ bug.name }}</h3>
                <h4>{{ bug.description }}</h4>
            </div>
            <div class="product-stats">
                <p class="stats"><i class="fa fa-user"></i> {{ bug.author }}</p>
                <p class="stats"><a href="{% url 'upvote_bug' bug.id %}"><i class="fa fa-thumbs-up"></i></a> Votes: {{ bug.upvotes }}</p>
                <p class="stats"><i class="fa fa-eye"></i> {{ bug.views }}</p>
                <div class="status"><div id="{{bug.status}}"></div><p class="stats">{{ bug.get_status_display }}</p></div>
            </div>
        </div>
        <div class="detail-card-container">
            <div class="detail-card">
                <div class="comment_form">
                    <h3>Updates</h3>
                    <form method="POST" class="form-width">
                        {% csrf_token %}
                        {{comment_form|as_bootstrap}}
                        {% if request.user.is_authenticated %}
                        <button class='btn btn-success' type='submit'>Comment</button>
                        {% else %}
                        <button class='btn btn-success' type='submit' disabled>Comment</button>
                        {% endif %}
                    </form>
                    <h3>Comments</h3>
                    {% for comment in comments %}
                    <p>{{ comment.content }}</p>
                    <p>By {{ comment.author }} on {{ comment.created_date }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}