{% extends "base.html" %}
{% block title %}
    Bugs
{% endblock %}

{% block search %}
    <div class="search-container">
        <form class="search" action="{% url 'search_bugs' %}" method="GET">
            <input class="search-input" type="text" placeholder="Search" name="q"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <form class="search" action="{% url 'bugs' %}" method="GET">
            <button class="btn btn-danger" type="submit">Reset</button>
        </form>
    </div>
{% endblock search %}

{% block content %}
    <div class="action">
        {% if user.is_authenticated %}
        <div class="text-container">
            <p class="action-text">Upvote a bug below or add your own!</p>
        </div>
        <a class="btn btn-success" href="{% url 'create_bug' %}">Submit a bug report</a>
        {% else %}
        <div class="text-container">
            <p class="action-text">Login to view, vote for, or submit a bug report</p>
        </div>
        <a class="btn btn-warning" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    <div class="row">
        {% for bug in bugs %}
            {% if user.is_authenticated %}
            <a href="{% url 'bug_detail' bug.id %}">
            {% endif %}
                <div class="col-md-6 col-sm-12">
                    <div class="product-card-container">
                        <div class="product-card">
                            <div class="description-text">
                                <h3>{{ bug.name }}</h3>
                                <h4>{{ bug.description|truncatechars:60 }}</h4>
                            </div>
                            <div class="product-stats">
                                <p class="stats"><i class="fa fa-user"></i> {{ bug.author }}</p>
                                <p class="stats"><i class="fa fa-thumbs-up"></i> {{ bug.upvotes }}</p>
                                <p class="stats"><i class="fa fa-eye"></i> {{ bug.views }}</p>
                                <div class="status"><div id="{{bug.status}}"></div><p class="stats">{{ bug.get_status_display }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}