{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}
    Your Profile
{% endblock %}

{% block content %}
    <p class="cart-header">View and update your details below</p>
    <div class="user-card-container">
        <div class="user-card">
            <div class="user-info">
                <p><strong>Full name: </strong> {{ user_profile.profile.full_name }}</p>
                <p><strong>Phone: </strong> {{ user_profile.profile.phone }}</p>
                <p><strong>Address 1: </strong> {{ user_profile.profile.address1 }}</p>
                <p><strong>Address 2: </strong> {{ user_profile.profile.address2 }}</p>
                <p><strong>Postcode: </strong> {{ user_profile.profile.postcode }}</p>
                <p><strong>Town: </strong> {{ user_profile.profile.town }}</p>
                <p><strong>County: </strong> {{ user_profile.profile.county }}</p>
                <p><strong>Country: </strong> {{ user_profile.profile.country }}</p>
            </div>
            <a class="btn btn-info" href="{% url 'update_profile' %}">Update Your Details</a>
        </div>
    </div>
{% endblock %}