{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}
    Cart
{% endblock %}
{% block content %}
    {% for item in cart_items %}
        <div class="account-card-container">
            <div class="account-card">
                <div>
                    <h3>{{ feature.name }}</h3>
                    <p>{{ feature.description }}</p>
                </div>
                <form method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div>
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Amend</button>
                </form>
            </div>
        </div>
    {% endfor %}
    <div class="text-center">
        <p>Total</p>
        <p>{{ total }}</p>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
    </div>
{% endblock %}