{% extends "base.html" %}
{% load bootstrap_tags %}
{% block title %}
    Cart
{% endblock %}
{% block content %}
    {% if cart_items %}
        <p class="cart-header">Review your votes below and head to checkout!</p>
    {% else %}
        <p class="cart-header">No items in your cart at this time!</p>
    {% endif %}
    <div class="row">
        {% for item in cart_items %}
            <div class="col-md-6 col-sm-12">
                <div class="product-card-container">
                    <div class="product-card">
                        <div class="description-text">
                            <h3>{{ item.feature.name }}</h3>
                            <h4>{{ item.feature.description }}</h4>
                        </div>
                        <form method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div>
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control">
                                    <div class="input-group-addon">{{item.quantity}}</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info">Amend</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if cart_items %}
        <div class="checkout">
            <h1>Total: £{{ total }}</h1>
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button">Checkout</a>
        </div>
    {% endif %}
{% endblock %}