{% extends "base.html" %}
{% block title %}
    Overview
{% endblock %}

{% block search %}
    <p class="action-text">Search keywords from the name or description of the bug or feature</p>
    <div class="search-container">
        <form class="search" action="{% url 'search_overview' %}" method="GET">
            <input class="search-input" type="text" placeholder="Search" name="q"/>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
        <form class="search" action="{% url 'overview' %}" method="GET">
            <button class="btn btn-danger" type="submit">Reset</button>
        </form>
    </div>
{% endblock search %}

{% block content %}
        <div class="account-card-container">
            <table style="width: 100%">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Votes</th>
                    <th>Status</th>
                </tr>
                {% for result in results %}
                <tr>
                    <td>{{ result.name }}</td>
                    <td>{{ result.description }}</td>
                    <td>{{ result.upvotes }}</td>
                    <td>{{ result.get_status_display }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}